In [1369]:
)clear
⎕PP←3

# 10 minutes to pandas

https://pandas.pydata.org/docs/user_guide/10min.html

    import pandas

is

In [1370]:
] _←link.import # . ⍝ TODO: tatin package

## Basic data structures in pandas

- `pd.DataSeries` is `data.Series`
- `pd.DataFrame` is `data.Frame`

## Object creation

In [1371]:
''data.series 1 3 5 'nan' 6 8

In [1372]:
⊢dates←''data.series(⊂2013 1),¨⍳6
⊢df←data.frame dates,'ABCD'data.series¨↓1-2×?4 6⍴0

In [1373]:
⍝ indexed frame
⊢di←dates data.index'ABCD'data.series¨↓1-2×?4 6⍴0

In [1374]:
n←⎕NS⍬
n.A←1
n.B←⊂2013 01 02
n.C←''data.series⍳4
n.D←4/3
n.E←'test' 'train' 'test' 'train'
n.F←⊂'foo'
⊢df2←n.l data.frame⊃,/⍪¨4⍴¨n.(⍎¨l←⎕NL-2)

In [1375]:
⎕DR¨df2[].values

In [1376]:
df2.⎕NL-⍳9

## Viewing data

In [1377]:
head←{⍺←10 ⋄ (⍺⌊≢⍵.values)↑data.at⊢⍵}
(head df)(head di)

In [1378]:
tail←{⍺←10 ⋄ (-⍺⌊≢⍵.values)↑data.at⊢⍵}
(3 tail df)(3 tail di)

In [1379]:
df[;⊂''] ⋄ df.labels ⋄ df[;]
di[;⊂''] ⋄ di.labels ⋄ di[;]
(df.index)(df.columns)
(di.index)(di.columns)

In [1380]:
⍝ TODO: describe

In [1381]:
1(↑data.frame↓)⍉df.(labels⍪values)

In [1382]:
1({⍺↑⍵.series}data.index⊢)1(↑data.frame↓)⍉di.(labels⍪values)

In [1383]:
((⊂'')⍋data.sort df)((⊂'')⍋data.sort di)
((df.labels~⊂'')⍋data.sort df)((di.labels~⊂'')⍋data.sort di)

## Selection

### Getitem

In [1384]:
df['A']

In [1385]:
df data.frame df[1+⍳3;]

In [1386]:
⍝ TODO: df["20130102":"20130104"]

In [1387]:
(⊂'')df.Sel(⊂2013 1),¨2 3 4

In [1388]:
di.Sel(⊂2013 1),¨2 3 4

### Selection by label

In [1389]:
i←(,df[;''])⍳dates[1]
df data.frame df[,i;]

In [1390]:
((⊂'')df.Sel dates[1])(di.Sel dates[1])

In [1391]:
data.frame df['' 'A' 'B']

In [1392]:
di.Loc'AB'

In [1393]:
df[1;'A'] ⋄ di[⊂2013 1 1;'A']

### Selection by position

In [1394]:
df data.frame df[,3;]

In [1395]:
di.iloc[;]

In [1396]:
to←{(⍺-⎕IO)+⍳⍵-⍺}
df.iloc[4 to 6;1 to 4] ⍝ df.iloc[3:5, 0:2]
df.iloc[2 3 5;1 2 4] ⍝ df.iloc[[1, 2, 4], [0, 2]]
df.iloc[2 to 4;]
df.iloc[;1 to 4]
df.iloc[2;2]

### Boolean indexing

In [1397]:
((df[;'A']>0)/data.at⊢df)((di[;'A']>0)/data.at⊢di)
((df[;'A']<0)/data.at⊢df)((di[;'A']<0)/data.at⊢di)
((⊂'nan')@(<∘0)¨data.at⊢df)((⊂'nan')@(<∘0)¨data.at⊢di)

LENGTH ERROR
at[3] ⍵ frame ⍺ ⍺⍺{⍺←⊢ ⋄ ⍵.label series ⍺ ⍺⍺⊣⍵[]}¨@(l⍳⍵⍵⊣l←⍵[].label)⊢⍵[]
                                                ∧
LENGTH ERROR
at[3] ⍵ frame ⍺ ⍺⍺{⍺←⊢ ⋄ ⍵.label series ⍺ ⍺⍺⊣⍵[]}¨@(l⍳⍵⍵⊣l←⍵[].label)⊢⍵[]
                                                ∧

In [1398]:
⊢df2←data.frame df[],'E'data.series'one' 'one' 'two' 'three' 'four' 'three'

In [1399]:
⊢di2←di.index data.index di[],'E'data.series'one' 'one' 'two' 'three' 'four' 'three'

In [1400]:
(df2 data.frame(df2[;'E']∊'two' 'four')⌿df2[;])(di2 data.frame(di2[;'E']∊'two' 'four')⌿di2[;])

### Setting

In [1401]:
⍝ TODO
⊢dates2←''data.series(⊂2013 1),¨1+⍳6
⊢s1←data.frame dates2('F'data.series⍳6)

In [1402]:
df di

In [1403]:
(dfn←df((⊂'nan')data.join⊣)s1)(din←di((⊂'nan')data.join⊣)s1)

In [1404]:
di⊣di[dates[1];'A']←100
di⊣di.iloc[1;2]←0

In [1405]:
df
df[;'D']←⍳6
df

In [1406]:
-@(0∘>)data.at'ABCD'⊢df

## Missing data

In [1407]:
e←(''data.series 2↑dates[])data.index'E'data.series 2/5.5
⊢df1←(dfn.Sel⍳4)((⊂'nan')data.join⊣)e

In [1408]:
(~∨/data.nan df1[;])/data.at⊢df1 ⍝ dropna()

LENGTH ERROR
at[3] ⍵ frame ⍺ ⍺⍺{⍺←⊢ ⋄ ⍵.label series ⍺ ⍺⍺⊣⍵[]}¨@(l⍳⍵⍵⊣l←⍵[].label)⊢⍵[]
                                                ∧

In [1409]:
5 data.nan df1 ⍝ fillna()

In [1410]:
data.{nan at ⍵.columns⊢⍵}df1

## Operations

https://pandas.pydata.org/docs/user_guide/basics.html#flexible-binary-operations

In [1411]:
⍝ df = pd.DataFrame(
⍝     {
⍝         "one": pd.Series(np.random.randn(3), index=["a", "b", "c"]),
⍝         "two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
⍝         "three": pd.Series(np.random.randn(3), index=["b", "c", "d"]),
⍝     }
⍝ )
s1←('i'data.series'abc')data.index'one'data.series?3⍴0
s2←('i'data.series'abcd')data.index'two'data.series?4⍴0
s3←('i'data.series'bcd')data.index'three'data.series?3⍴0
⊢df←(⊂'nan')data.join∪/s1 s2 s3

In [1412]:
⊢row←⍬df.Sel 2
⊢column←df.Loc⊂'two'

In [1416]:
sub←{(,⍺){0::'nan' ⋄ ⍺-⍵}¨⍤1⊢⍵}
df.(loc[index])data.index df.(loc[columns])data.frame row sub⍥{⍵.(loc[;columns])}df

In [1418]:
df.(loc[index])data.index df.(loc[columns])data.frame column⍉⍤sub∘⍉⍥{⍵.(loc[;columns])}df

In [1427]:
s←data.series?10⍴99
s('div' 'mod'data.frame 3(⌊⍤÷⍨,⍥⍪|)s.values)

### Stats

In [1438]:
mean←(+⌿÷≢)⍤/⍤1
(~data.nan df.(loc[;columns]))mean df.(loc[;columns])
(~data.nan df.(loc[;columns]))mean⍥⍉df.(loc[;columns])

### User defined functions

In [1457]:
nan←⊂⍬
isnan←{0=2|⎕DR¨{0::⍵ ⋄ 0::⍵[] ⋄ ⍵[;]}⍵}
⊢da←nan@isnan data.at df.columns⊢df
5+data.at da.columns⊢da
(⊂⍬)@isnan data.at df.columns⊢df

## Merge

## Grouping

## Reshaping

## Time series

## Categoricals

## Plotting

## Importing and exporting data

## Gotchas

# Pandas getting started tutorials

https://pandas.pydata.org/docs/getting_started/intro_tutorials/

## What kind of data does pandas handle?

I want to store passenger data of the Titanic. For a number of passengers, I know the name (characters), age (integers) and sex (male/female) data.

In [896]:
name ←⊂'Braund, Mr. Owen Harris'
name,←⊂'Allen, Mr. William Henry'
name,←⊂'Bonnell, Miss. Elizabeth'
age←22 35 58
sex←'male' 'male' 'female'
⊢df←'Name' 'Age' 'Sex'data.frame name age sex

In [897]:
df[⊂'Age']

In [898]:
⊢ages←'Age'data.series 22 35 58

In [899]:
⌈/df[;⊂'Age']
⌈/ages[]

In [900]:
⍝ TODO
⍝ df.describe

## How do I read and write tabular data?

In [901]:
titanic←data.frame'titanic.csv'

In [902]:
head 7↑titanic[]

In [903]:
7↑data.at⊢7↑titanic[] ⍝ first 7 rows of first 7 columns

In [904]:
tail ¯7↑titanic[]

In [905]:
¯7↑data.at⊢¯7↑titanic[] ⍝ last 7 rows of last 7 columns

In [906]:
⎕DR¨titanic[].values

In [907]:
⍝ TODO
⍝ from_excel
⍝ to_excel

In [908]:
⍝ TODO
⍝ df.info()

## How do I select a subset of a DataFrame?

In [909]:
head titanic.Col⊂'Age'

In [910]:
⍴titanic[⊂'Age'][]

In [911]:
head age_sex←titanic.Col'Age' 'Sex'

In [912]:
t←0⍨@(80=⎕DR¨)data.at(⊂'Age')⊢titanic
above_35←(t[;⊂'Age']>35)⌿data.at⊢t
head 7↑t[]

In [913]:
⍴above_35[;]

In [914]:
class_23←(t[;⊂'Pclass']∊2 3)⌿data.at⊢t
head 4↑class_23[]

In [915]:
class_23←((t[;⊂'Pclass']=2)∨t[;⊂'Pclass']=3)⌿data.at⊢t
head 4↑class_23[]

In [916]:
age_no_na←(~2|⎕DR¨titanic[;⊂'Age'])⌿data.at⊢titanic
head 7↑age_no_na[]

In [917]:
⍝ adult_names = titanic.loc[titanic["Age"] > 35, "Name"]
≢i←⍸35<t[;⊂'Age']
↑10↑adult_names←t[i;⊂'Name']
⍝ TODO
⍝↑10↑adult_names←t[⍸35<t[;⊂'Age'];⊂'Name']

In [918]:
⍝ titanic.iloc[9:25, 2:5]
To←{(⍺-⎕IO)+⍳⍵-⍺}
titanic.labels[2 To 5] data.frame titanic.values[9 To 25;2 To 5]
(9 To 25){⍵[⍺]}data.at⊢titanic[][2 To 5]

## How do I create plots?

In [919]:
⍝ TODO (EWC-ApexCharts)
⍝ Run-chart with date axis
⍝ Scatter plot
⍝ Box plot
⍝ Subplots

## How to create new columns derived from existing columns

In [920]:
head air_quality←data.frame'air_quality_no2.csv'

In [921]:
air_quality.series,←'london_mg_per_cubic'data.series 1.882×air_quality[;⊂'station_london']
head air_quality

In [922]:
v←air_quality[;⊂'station_paris']÷air_quality[;⊂'station_antwerp']
air_quality.series,←'ratio_paris_antwerp'data.series v
head air_quality

In [923]:
air_quality_renamed←data.frame air_quality
air_quality_renamed[(⊂'station_'),¨'antwerp' 'paris' 'london'].label←'BETR801' 'FR04014' 'London Westminster'
head air_quality_renamed

In [924]:
air_quality_renamed.labels⎕C⍨←¯1
head air_quality_renamed

## How to calculate summary statistics

In [925]:
⍝ TODO: get stats functions from tamstat package
mean←+⌿÷1⌈⊣∘≢
median←2÷⍨1⊥⊢⌷⍨∘⊂⍋⌷⍨∘⊂∘⌈2÷⍨0 1+≢

In [926]:
mean{(~data.nan⍵)/⍵}t[;⊂'Age']

In [927]:
{median(~data.nan⍵)/⍵}¨t['Age' 'Fare'].values

In [928]:
⍝ TODO
⍝ titanic[["Age", "Fare"]].describe()

In [929]:
fn←'⌊/' '⌈/' 'median' 'mean' ⍝ TODO: skew
fn∘.{(⍎⍺)⍵}{(~data.nan⍵)/⍵}¨titanic['Age' 'Fare'].values

In [930]:
{mean(,~data.nan⍵)⌿⍵}data.by(⊂'Sex')⊢titanic['Sex' 'Age']

In [931]:
⍝ TODO: numeric_only

In [932]:
{mean(,~data.nan⍵)⌿⍵}data.by(titanic[⊂'Sex'])⊢titanic[⊂'Age']

In [933]:
{mean(,~data.nan⍵)⌿⍵}data.by(titanic['Sex' 'Pclass'])⊢titanic[⊂'Fare']

In [934]:
⍝ TODO: value_counts

In [935]:
(⊂'count')≢data.by(⊂'Pclass')⊢titanic['Pclass' 'Pclass']

## How to reshape the layout of tables

In [936]:
head(⊂'Age')⍋data.sort 9e9 data.(nan at(⊂'Age'))titanic ⍝ move nan to bottom (max)

In [937]:
head('Pclass' 'Age')⍒data.sort 0 data.(nan at(⊂'Age'))titanic ⍝ move nan to bottom (min)

### Long to wide table format

In [938]:
air_quality←data.frame'air_quality_long.csv'
head air_quality.(series←loc[(⊂'date.utc')∪labels])

In [939]:
head no2←(,(⊂'no2')≡¨air_quality[;⊂'parameter'])/data.at⊢air_quality

In [940]:
⍝ alternatively
head no2←{⍵data.frame(,(⊂'no2')≡¨⍵[;⊂'parameter'])⌿⍵[;]}air_quality

In [941]:
no2_subset←2∘↑data.by(⊂'location')⊢(⊂'date.utc')⍋data.sort no2
no2_subset.series←⍋data.sort no2_subset[][no2_subset⍳⍥{⍵.labels}no2]
no2_subset ⍝ TODO: non-matching order!

In [942]:
'value'data.by'location'⊢no2_subset['date.utc' 'location' 'value']

In [943]:
⍝ TODO: plot

### Pivot table

In [944]:
m←mean data.by'location' 'parameter'⊢air_quality['location' 'parameter' 'value']
⊢p←'value'data.by'parameter'⊢m

In [945]:
⍝ TODO
⍝ air_quality.pivot_table(..., margins=True, ...)

### Wide to long format

In [946]:
⍝ no2_pivoted = no2.pivot(columns="location", values="value").reset_index()
head no2_pivoted←no2[⊂'value']data.by(no2[⊂'location'])⊢no2[⊂'date.utc']

In [947]:
⍝ no_2 = no2_pivoted.melt(id_vars="date.utc")
no_2←{(⍵.labels~⊂'date.utc')('value'data.by'location')⍵}no2_pivoted
head no_2←data.frame no_2[no_2.labels[2 1 3]]
head{(⍵.labels[1],'id_location' 'NO_2')data.frame⍵}no_2

In [948]:
(⊂'no2')('value'data.by'parameter')p[]~p[⊂'pm25']

In [949]:
⍝ air_quality_no2 = pd.read_csv("data/air_quality_no2_long.csv", parse_dates=True)
head air_quality_no2←data.frame'air_quality_no2_long.csv'
⍝ air_quality_pm25 = pd.read_csv("data/air_quality_pm25_long.csv", parse_dates=True)
head air_quality_pm25←data.frame'air_quality_pm25_long.csv'

## How to combine data from multiple tables

### Concatenating objects

In [950]:
DLPV←{⍵['date.utc' 'location' 'parameter' 'value']}
head air_quality←(⊂'date.utc')⍋data.sort air_quality_pm25,data.join⊢⍥DLPV air_quality_no2

In [951]:
P←{data.frame('parameter'data.series(≢(⊃w).values)/⊂⍺),⍨w←⍵['date.utc' 'location' 'value']}
head(⊂'date.utc')⍋data.sort('PM25'P air_quality_pm25),data.join⊢'NO2'P air_quality_no2

### Join tables using a common identifier

In [952]:
⍝ stations_coord = pd.read_csv("data/air_quality_stations.csv")
head stations_coord←data.frame'air_quality_stations.csv'

In [953]:
head air_quality

In [954]:
⍝ air_quality = pd.merge(air_quality, stations_coord, how="left", on="location")
i←stations_coord⍳⍥{⍵[;⊂'location']}air_quality
head data.frame air_quality[],{⍵[i]}data.at⊢stations_coord[(⊂'coordinates.'),¨'latitude' 'longitude']

In [955]:
⍝ air_quality_parameters = pd.read_csv("data/air_quality_parameters.csv")
⊢air_quality_parameters←data.frame'air_quality_parameters.csv'

In [956]:
⍝ air_quality = pd.merge(air_quality, air_quality_parameters,
⍝                        how='left', left_on='parameter', right_on='id')
i←air_quality_parameters[;⊂'id']⍳air_quality[;⊂'parameter']
head data.frame air_quality[],{⍵[i]}data.at⊢1↓air_quality_parameters[]

## How to handle time series data with ease

## How to manipulate textual data